<body id="page-top">
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top activate.bs.scrollspy text-white">
        <div class="container"><a class="navbar-brand js-scroll-trigger">Abrar One</a>
            <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded"
                type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">A
                            propos de Nous</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1"><a
                            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Nos domaines d'expertise</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1 "><a
                            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class=" bg-primary background text-white">
        <div class="layer page-section">
            <div class="container layer">
                <!-- About Section Heading-->
                <div class="text-center">
                    <h2 class="page-section-heading d-inline-block text-white">Abrar Finance Consulting</h2>
                </div>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ml-auto">
                        <p class="pre-wrap lead">ABRAR BUSINESS CONSULTING est un cabinet de formation et de conseil en
                            finance islamique .​

                        </p>
                    </div>
                    <div class="col-lg-4 mr-auto">
                        <p class="pre-wrap lead"> Notre activité : notre cabinet a pour vocation principale
                            d’accompagner les dirigeants
                            des entreprises dans la réalisation des études stratégiques et des plans d’affaires,
                            dans l’analyse financière et dans la recherche de financement et la levée de fonds ,
                            et offre également des programmes de formation dans les différents domaines de la finance
                            islamique.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section  mb-0" id="services">
        <div class="item" data-aos="fade-up">
            <div class="container container-style">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Pourquoi nous choisir ?</h2>
                    <div class="separator-line"></div>
                </div>
                <div class="row text-center">
                    <div class="col-md-4" data-aos="fade-up" data-aos-anchor-placement="top-center">
                        <div class="flex-colum">
                            <div class="bg-primary circle-style">
                                <!-- <img  src="../../assets/assets/img/portfolio/AbrarCom.png" alt=""> -->

                            </div>
                            <h4 class="my-3">Expertise</h4>
                            <p>Une expertise dans différents secteurs d’activité : agro-alimentaire,
                                industrie, énergie, formation, services, artisanat, commerces, NTIC,…ainsi
                                qu’un réseau relationnel local et international. 
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4" data-aos="fade-up" data-aos-anchor-placement="top-center">
                        <div class="flex-colum">
                            <div class="bg-primary circle-style">
                                <!-- <img  src="../../assets/assets/img/portfolio/AbrarCom.png" alt=""> -->
                                <!-- <i class="fab fa-react text-white" ></i> -->
                            </div>
                            <h4 class="my-3">Dynamisme</h4>
                            <p>Une équipe de consultants dynamiques et polyvalents,
                                qui considèrent chaque mission comme une nouvelle
                                aventure qui requiert écoute et partage.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4" data-aos="fade-up" data-aos-anchor-placement="top-center">
                        <div class="flex-colum">
                            <div class="bg-primary circle-style">
                                <!-- <img  src="../../assets/assets/img/portfolio/AbrarCom.png" alt=""> -->
                            </div>
                            <h4 class="my-3">Centralisation</h4>
                            <p>Une gamme complète de services : conseils juridiques, financiers, ressources
                                humaines, management, marketing,....</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div>
        <section class="  background-img  text-white mb-0" id="about-us">
            <div class=" page-section section-expertise layer">
                <div class="container ">
                    <!-- About Section Heading-->
                    <div class="text-center">
                        <h2 class="page-section-heading  d-inline-block text-white">Notre expertise</h2>
                    </div>
                    <!-- Icon Divider-->
                    <div class="divider-custom divider-light">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                    <!-- About Section Content-->
                </div>
            </div>
        </section>
        <div class=" flex-container">
            <div class="element-style flex-item" data-aos="fade-up" data-aos-duration="3000">
                <h4>Extension et développement des projets</h4>
                <p>La réalisation d’un Plan de Mise à Niveau </p>
                <p>Demande de levée de fond </p>
            </div>
            <div class="element-style flex-item" data-aos="fade-up" data-aos-duration="3000">
                <h4>Réstructuration des entreprises</h4>
                <p>Accompagnement des entreprises en difficulté</p>
            </div>
            <div class="element-style flex-item" data-aos="fade-up" data-aos-duration="3000">
                <h4>Accompagnement des nouveaux promoteurs</h4>
                <p>Accompagnement des nouveaux promoteurs dans la réalisation de leurs projets</p>
            </div>
        </div>
        <section class="page-section container ">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Contactez-nous</h2>
                <p>Nous allons vous répondre dans les plus bréfs délais </p>
                <div class="separator-line"></div>
            </div>
            <form [formGroup]="contactForm" (ngSubmit)="onsubmit()">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4 ">
                            <input type="text" formControlName="nom" placeholder="Nom*" class="form-control"
                                [ngClass]="{'is-invalid':submitted && form.nom.errors} ">
                                <div *ngIf = "submitted && form.nom.errors" class="invalid-feedback">
                                    Ce champ est requis
                                </div>
                        </div>
                        <div class="col-md-4">
                            <input type="email" formControlName="email" placeholder="Email*" class="form-control"
                                [ngClass]="{'is-invalid':submitted && form.email} ">
                                <div *ngIf ="submitted && form.email.errors" class="invalid-feedback">
                                    Ce champ est requis
                                </div>
                        </div>
                        <div class="col-md-4">
                            <input type="tel" formControlName="tel" placeholder="Téléphone" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mt-2">
                            <textarea name="" formControlName="msg" placeholder="Votre message" class="form-control"
                                [ngClass]="{'is-invalid': submitted && form.msg} "></textarea>
                            <div *ngIf ="submitted && form.msg.errors" class="invalid-feedback">
                                Ce champ est requis
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-secondary mt-2"> Envoyer </button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section class="page-section">
            <div>
                <h2 class="text-center text-uppercase ">Nos références</h2>
                <p class="text-center">RESTRUCTURATION D’ENTREPRISE ET LEVEE DE FONDS</p>
                <div class="separator-line"></div>
                <div class="flex-container">
                    <div class="flex-item">
                        <img src="../../assets/assets/img/references/zodiac.png">
                    </div>
                    <div class="flex-item">
                        <img src="../../assets/assets/img/references/logo-16881-20181031-111225.png">
                    </div>
                    <div class="flex-item">
                        <img src="../../assets/assets/img/references/LOGO-BVM.png">
                    </div>
                    <div class="flex-item">
                        <img src="../../assets/assets/img/references/nouremballage.jpg">
                    </div>
                    <div class="flex-item">
                        <img src="../../assets/assets/img/references/conforta.jpg">
                    </div>

                </div>
                <p class="text-center mt-5">FORMATION</p>
                <div class="separator-line"></div>
                <div class="flex-container">
                    <div class="flex-item">
                        <img src="../../assets/assets/img/references/formation/al-barak-bank.jpg">
                    </div>
                    <div class="flex-item">
                        <img src="../../assets/assets/img/references/formation/banque-zitouna-logo.jpg">
                    </div>
                    <div class="flex-item">
                        <img src="../../assets/assets/img/references/formation/BNA-bank.png">
                    </div>
                    <div class="flex-item">
                        <img src="../../assets/assets/img/references/formation/Bourse de tunis.jpg">
                    </div>
                    <div class="flex-item">
                        <img src="../../assets/assets/img/references/formation/Ministère des Finances.png">
                    </div>
                    <div class="flex-item">
                        <img src="../../assets/assets/img/references/formation/BMCE.png">
                    </div>
                    <div class="flex-item">
                        <img src="../../assets/assets/img/references/formation/Afriland-First-Bank.jpg">
                    </div>
                    <div class="flex-item">
                        <img src="../../assets/assets/img/references/formation/amen-capital.jpg">
                    </div>
                    <div class="flex-item">
                        <img src="../../assets/assets/img/references/formation/al-salama-bank.jpg">
                    </div>
                    <div class="flex-item">
                        <img src="../../assets/assets/img/references/formation/attijari bank.png">
                    </div>
                </div>
            </div>

        </section>

    </div>

    <app-footer></app-footer>
</body>