<div id="references">
<section class="page-section" id="references">
    <h2 class="text-center text-uppercase ">Nous ont fait confiance</h2>
    <div class="separator-line"></div>
    <div class="flex-container">
        <div class="flex-item">
            <img src="../../assets/assets/img/references/zodiac.png">
        </div>
        <div class="flex-item">
            <img src="../../assets/assets/img/references/formation/al-barak-bank.jpg">
        </div>
        <div class="flex-item">
            <img src="../../assets/assets/img/references/logo-16881-20181031-111225.png">
        </div>
        <div class="flex-item">
            <img src="../../assets/assets/img/references/LOGO-BVM.png">
        </div>
        <div class="flex-item">
            <img src="../../assets/assets/img/references/formation/BNA-bank.png">
        </div>
        <div class="flex-item">
            <img src="../../assets/assets/img/references/nouremballage.jpg">
        </div>
        <div class="flex-item">
            <img src="../../assets/assets/img/references/formation/banque-zitouna-logo.jpg">
        </div>
        <div class="flex-item">
            <img src="../../assets/assets/img/references/formation/Bourse de tunis.jpg">
        </div>
        <div class="flex-item">
            <img src="../../assets/assets/img/references/conforta.jpg">
        </div>
        <div class="flex-item">
            <img src="../../assets/assets/img/references/formation/Ministère des Finances.png">
        </div>
        <div class="flex-item">
            <img src="../../assets/assets/img/references/formation/BMCE.png">
        </div>
        <div class="flex-item">
            <img src="../../assets/assets/img/references/formation/Afriland-First-Bank.jpg">
        </div>
        <div class="flex-item">
            <img src="../../assets/assets/img/references/formation/amen-capital.jpg">
        </div>
        <div class="flex-item">
            <img src="../../assets/assets/img/references/formation/al-salama-bank.jpg">
        </div>
        <div class="flex-item">
            <img src="../../assets/assets/img/references/formation/attijari bank.png">
        </div>
        <div class="flex-item">
            <img src="../../assets/assets/img/references/Babour-express.png">
        </div>
        <div class="flex-item">
            <img src="../../assets/assets/img/references/open-value.jpg">
        </div>
        <div class="flex-item">
            <img src="../../assets/assets/img/references/Evox-trading-logo.jpg">
        </div>
        <div class="flex-item">
            <img src="../../assets/assets/img/references/unifi.jpg">
        </div>
        <div class="flex-item">
            <img src="../../assets/assets/img/references/wis.jpg">
        </div>
    </div>
</section>