<section class=" bg-primary text-white">
    <div class="page-section">
        <div class="container ">
            <div class="text-center">
                <h2 class="page-section-heading d-inline-block text-white">Nos Domaines de Compétence</h2>
            </div>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="text-center row ">
                <div class="col-lg-4 ml-auto">
                    <h2 class="pre-wrap masthead-heading">Formation
                    </h2>
                </div>
                <div class="col-lg-4 mr-auto">
                    <h2 class="pre-wrap masthead-heading"> Conseil</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section background-grey">
    <h2 class="text-center text-uppercase ">PROGRAMMES DE FORMATION </h2>
    <div class="separator-line"></div>
    <div class="text-center container m-auto background-white row box">
        <div class="col-lg-6 p-inherit  pt-4">
            <h2>En finance Islamique </h2>
            <div class="separator-line"></div>
            <div class=" text-left lead pt-4">
                <p class="pre-wrap masthead-heading"><i class="fas fa-check mr-3"></i>
                    La finance et les banques en islam </p>
                <p class="pre-wrap masthead-heading fa-check"><i class="fas fa-check mr-3"></i>
                    Le droit islamique des contrats </p>
                <p class="pre-wrap masthead-heading"><i class="fas fa-check mr-3"></i>
                    Les techniques financières des banques islamiques</p>
                <p class="pre-wrap masthead-heading"><i class="fas fa-check mr-3"></i>
                    L’assurance islamique (takaful)
                </p>
                <p class="pre-wrap masthead-heading"><i class="fas fa-check mr-3"></i>
                    La gouvernance en finance islamique
                </p>
            </div>
        </div>
        <div class="col-lg-6 container-style m-auto pt-4">
            <h2>En finance Conventionnelle</h2>
            <div class="separator-line"></div>
            <div class=" text-left lead pt-4">
                <p class="pre-wrap masthead-heading fa-check"><i class="fas fa-check mr-3"></i>
                    Finance de marché et connaissances des marchés</p>
                <p class="pre-wrap masthead-heading fa-check"><i class="fas fa-check mr-3"></i>
                    Management de projet </p>
                <p class="pre-wrap masthead-heading fa-check"><i class="fas fa-check mr-3"></i>
                    Finance d’entreprise</p>
                <p class="pre-wrap masthead-heading fa-check"><i class="fas fa-check mr-3"></i>
                    Politique financière
                </p>
                <p class="pre-wrap masthead-heading fa-check"><i class="fas fa-check mr-3"></i>
                    Droit des entreprises
                </p>
                <p class="pre-wrap masthead-heading fa-check"><i class="fas fa-check mr-3"></i>
                    Diagnostic financier
                </p>
                <p class="pre-wrap masthead-heading fa-check"><i class="fas fa-check mr-3"></i>
                    Finance internationale
                </p>
            </div>
        </div>
    </div>
</section>
<h2 class="text-center text-uppercase ">Conseil en Finance</h2>
<div class="separator-line"></div>
<div class="background-img-finance">
    <section class="page-section layer ">
        <div class=" flex-container ">
            <div class="element-style element-style-competence flex-item">
                <h2 class="mb-3">Etudes technico-économiques</h2>
                <p>Incluant une identification des problématiques majeures, une analyse avec
                    les solutions envisageables, la réalisation des fiches d'action pour les
                    solutions réalistes ainsi qu’une proposition de stratégie.
                </p>
            </div>
            <div class="element-style-competence element-style flex-item ">
                <h2 class="mb-3">Restructuration d’entreprise </h2>
                <p> <b> La restructuration opérationnelle </b> (remaniement de l’organisation opérationnelle) .</p>
                <p> <b> La restructuration financière</b> (restructuration du passif de l’entreprise : capital
                    / dettes court termes et long termes / . . .).
                </p>
            </div>
            <div class="element-style element-style-competence flex-item ">
                <h2 class="mb-3">Le pilotage de la performance </h2>
                <p>La définition de tableaux de bord, la réduction de délais de clôture, l’accompagnement
                    au choix d’un outil  ou dans le cadre de croissance externe par l’intégration post-acquisition.
                </p>
            </div>
            <div class="element-style element-style-competence flex-item ">
                <h2 class="mb-3">Les montages financiers</h2>
                <p>Accompagnement tout au long du processus selon une méthodologie rigoureuse.
                </p>
            </div>
            <div class="element-style element-style-competence flex-item ">
                <h2 class="mb-3">La levée de fonds </h2>
                <p>La préparation des arguments solides pour rassurer les investisseurs,
                    tout en exploitant ses réseaux de contacts de contact local et international pour
                    la mise en relation entre les deux parties.
                </p>
            </div>
            <div class="element-style element-style-competence flex-item">
                <h2 class="mb-3">L’accompagnement dans la recherche de partenaire </h2>
                <p>La réalisation d’une présentation attractive de l’entreprise, jusqu’au ciblage
                    et la prise de contact avec les partenaires investisseurs.
                </p>
            </div>
        </div>
    </section>
</div>