<footer  class="footer text-center footer-color">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">CONTACT</h4>
                    <h4 class="footer-text"><i class="fas fa-location-arrow mr-1 footer-icon"></i>
                        1, Place Tahar Haddad, Les Berges du lac, Tunis
                    </h4>
                    <h4 class="footer-text"><i class="fas fa-phone-alt footer-icon mr-1"></i> 
                        +216 53 48 48 38
                    </h4>        
                    <h4 class="footer-text" href="mailto:contact@business.com">
                        <i class="far fa-envelope-open footer-icon mr-1 "></i> 
                        contact@business.com
                    </h4>
              
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-3 mb-lg-0">
                <h4 class="mb-4 " routerLink=''><i class="fas fa-city footer-icon mr-1"></i> OUR COMPANIES</h4>
                <h4 class="mb-2 footer-text" routerLink='afc'>Abrar Finance Consulting</h4>
                <h4 class="mb-2 footer-text" href="http://abrarcom.com/">AbrarCom</h4>
                <h4 class="mb-4 footer-text">Abrar Business Consulting</h4>

            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="mb-4"><i class="fas fa-user-tie footer-icon mr-1"></i> ABOUT US</h4>
                <p class="pre-wrap  mb-0 footer-text"> Abrar One is a group of companies operating on the
                    local and international market through different activities.
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<section class="copyright py-4 text-center text-white">
    <!-- <div><small class="pre-wrap">Copyright © Your Website 2020</small></div> -->
</section>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<a  routerLinkActive="active" (click)="toTop()" class=" d-block text-center text-white rounded"
   ><i class="fa fa-chevron-up"></i></a>