.element-style-expertise {
    border-width: 0 0 0 4px;
    border-color: #104774;
    margin: -4% 2% 2% 1%;
    height: 160px;
    width: 280px;
}

.bg-blue{
    background-color:#104774
}

.blue-color{
    color: #117391;
}