
    <section class=" bg-blue text-white">
        <div class="layer page-section">
            <div class="container ">
                <!-- About Section Heading-->
                <div class="text-center">
                    <h2 class="page-section-heading d-inline-block text-white">Abrar Business Consulting</h2>
                </div>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="text-center pb-4">
                    <div class=" ml-auto">
                        <p class="pre-wrap lead">EN CHIFFRES !
    
                        </p>
                    </div>
                    <!-- <div class="col-lg-4 mr-auto">
                            <p class="pre-wrap lead"> Notre activité : notre cabinet a pour vocation principale
                                d’accompagner les dirigeants
                                des entreprises dans la réalisation des études stratégiques et des plans d’affaires,
                                dans l’analyse financière et dans la recherche de financement et la levée de fonds ,
                                et offre également des programmes de formation dans les différents domaines de la finance
                                islamique.</p>
                        </div> -->
                </div>
            </div>
        </div>
    </section>
    <div class=" flex-container">
        <div class="element-style element-style-expertise flex-item" data-aos="fade-up" data-aos-duration="2000">
            <h2 class="mt-4">Formation de plus de <samp class="blue-color"> 2000+ </samp> cadres </h2>
            <!-- <h2 class="mt-4">Formation</h2> -->
        </div>
        <div class="element-style element-style-expertise flex-item " data-aos="fade-up" data-aos-duration="2000">
            <h2 class="mt-4"><samp class="blue-color"> +60 </samp> missions de conseil en finance, restructuration d’entreprises et en Digital
            </h2>
            <!-- <h2 class="mt-4">Conseil et stratégie </h2> -->
        </div>
        <div class="element-style element-style-expertise flex-item " data-aos="fade-up" data-aos-duration="2000">
            <h2 class="mt-4"><samp class="blue-color"> +1000 </samp>opérations de commerciale Internationale réalisées </h2>
        </div>
        <div class="element-style element-style-expertise flex-item " data-aos="fade-up" data-aos-duration="2000">
            <h2 class="mt-4"><samp class="blue-color"> +50 </samp> millions d’euros réalisés en tant qu’apporteur d’affaires </h2>
        </div>
    </div>
    <section class="page-section  mb-0" id="competenceAfc">
        <div class="item" data-aos="fade-up">
            <div class="container container-style">
                <div class="text-center">
                    <h1 class="section-heading text-uppercase">NOS DOMAINES DE COMPÉTENCE</h1>
                    <div class="separator-line"></div>
                </div>
                <div class="row text-center">
                    <div class="col-md-6" data-aos="fade-up" data-aos-duration="2000"
                        data-aos-anchor-placement="top-center">
                        <div class="flex-colum">
                            <div class="bg-primary circle-style">
                                <!-- <img  src="../../assets/assets/img/portfolio/AbrarCom.png" alt=""> -->
                                <i class="fas fa-hands-helping icon-size"></i>
                            </div>
                            <h2 class="my-3">Consulting</h2>
                            <p>Accompagnement des dirigeants d'entreprises dans la réalisation d'études
                                stratégiques et de plans d'affaires, dans l'analyse financière et dans la
                                recherche de financement et la levée de fonds.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-up" data-aos-duration="2000"
                        data-aos-anchor-placement="top-center">
                        <div class="flex-colum">
                            <div class="bg-primary circle-style">
                                <!-- <img  src="../../assets/assets/img/portfolio/AbrarCom.png" alt=""> -->
                                <i class="fas fa-chalkboard-teacher icon-size"></i>
                            </div>
                            <h2 class="my-3">Formation</h2>
                            <p>Une des priorités de notre cabinet est la formation de qualité afin de miser sur
                                l’amélioration
                                des compétences des acteurs. Cette qualité est garantie grâce à une équipe pédagogique,
                                composée de professeurs de renom et de professionnels reconnus à l’échelle internationale.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class=" background-expertise  text-white mb-0" id="expertiseAfc">
        <div class=" page-section section-expertise layer">
            <div class="container ">
                <!-- About Section Heading-->
                <div class="text-center">
                    <h2 class="page-section-heading  d-inline-block text-white">Notre expertise</h2>
                </div>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
            </div>
        </div>
    </section>

    <app-contact-us></app-contact-us>
    <section class="page-section">
        <h2 class="text-center text-uppercase ">Quelques références</h2>
        <div class="separator-line"></div>
        <div class="flex-container">
            <div class="flex-item">
                <img src="../../assets/assets/img/references/zodiac.png">
            </div>
            <div class="flex-item">
                <img src="../../assets/assets/img/references/formation/al-barak-bank.jpg">
            </div>
            <div class="flex-item">
                <img src="../../assets/assets/img/references/logo-16881-20181031-111225.png">
            </div>
            <div class="flex-item">
                <img src="../../assets/assets/img/references/LOGO-BVM.png">
            </div>
            <div class="flex-item">
                <img src="../../assets/assets/img/references/formation/BNA-bank.png">
            </div>
            <div class="flex-item">
                <img src="../../assets/assets/img/references/nouremballage.jpg">
            </div>
            <div class="flex-item">
                <img src="../../assets/assets/img/references/formation/banque-zitouna-logo.jpg">
            </div>
            <div class="flex-item">
                <img src="../../assets/assets/img/references/formation/Bourse de tunis.jpg">
            </div>
            <div class="flex-item">
                <img src="../../assets/assets/img/references/conforta.jpg">
            </div>
            <div class="flex-item">
                <img src="../../assets/assets/img/references/formation/Ministère des Finances.png">
            </div>
            <div class="flex-item">
                <img src="../../assets/assets/img/references/formation/BMCE.png">
            </div>
            <div class="flex-item">
                <img src="../../assets/assets/img/references/formation/Afriland-First-Bank.jpg">
            </div>
            <div class="flex-item">
                <img src="../../assets/assets/img/references/formation/amen-capital.jpg">
            </div>
            <div class="flex-item">
                <img src="../../assets/assets/img/references/formation/al-salama-bank.jpg">
            </div>
            <div class="flex-item">
                <img src="../../assets/assets/img/references/formation/attijari bank.png">
            </div>
            <div class="flex-item">
                <img src="../../assets/assets/img/references/Babour-express.png">
            </div>
        </div>
    </section>