<section class=" bg-blue text-white">
    <div class="layer page-section">
        <div class="container ">
            <div class="text-center">
                <h2 class="page-section-heading d-inline-block text-white">Abrar Business Consulting</h2>
            </div>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>    
            <div class="text-center pb-4">
                <div class=" ml-auto">
                    <p class="pre-wrap lead">EN CHIFFRES !
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class=" flex-container">
    <div class="element-style element-style-expertise flex-item">
        <h2 class="mt-4">Trained over <samp class="blue-color"> 2000+ </samp> business executives in Europe & Africa
        </h2>
 
    </div>
    <div class="element-style element-style-expertise flex-item ">
        <h2 class="mt-4"><samp class="blue-color"> 60+ </samp> consulting missions in finance, business
            restructuring and Digital.

        </h2>
    </div>
    <div class="element-style element-style-expertise flex-item ">
        <h2 class="mt-4"><samp class="blue-color"> 1000+ </samp>international trade operations.
        </h2>
    </div>
    <div class="element-style element-style-expertise flex-item ">
        <h2 class="mt-4"><samp class="blue-color"> 50+ </samp> millions euros made as contributor business.
        </h2>
    </div>
</div>
<section class="page-section background-grey mb-0">
    <div class="item">
        <div class="m-auto row ">
            <div class="text-center m-auto col-md-6">
                <h1 class="section-heading text-uppercase">About Us?
                </h1>
                <div class=" m-auto separator-line-abc"></div>
            </div>
            <div class="col-md-6">
                <h1 class="p-align mr-5"><b> ABRAR BUSINESS CONSULTING</b> is a consulting, training and support firm in
                    management and strategic development which has been operating since 2014. It benefits from the
                    experience and expertise of over 30 years of its managers and consultants.

                </h1>
            </div>
        </div>
    </div>
</section>
<section class="page-section  mb-0" id="competenceAfc">
    <div class="item" data-aos="fade-up">
        <div class="container container-style">
            <div class="text-center">
                <h1 class="section-heading text-uppercase">NOS DOMAINES DE COMPÉTENCE</h1>
                <div class="separator-line-abc m-auto"></div>
            </div>
            <div class="row text-center">
                <div class="col-md-6" data-aos="fade-up" data-aos-duration="2000"
                    data-aos-anchor-placement="top-center">
                    <div class="flex-colum">
                        <div class="bg-primary circle-style">
                            <!-- <img  src="../../assets/assets/img/portfolio/AbrarCom.png" alt=""> -->
                            <i class="fas fa-hands-helping icon-size"></i>
                        </div>
                        <h2 class="my-3">Consulting</h2>
                        <p>Accompagnement des dirigeants d'entreprises dans la réalisation d'études
                            stratégiques et de plans d'affaires, dans l'analyse financière et dans la
                            recherche de financement et la levée de fonds.
                        </p>
                    </div>
                </div>
                <div class="col-md-6" data-aos="fade-up" data-aos-duration="2000"
                    data-aos-anchor-placement="top-center">
                    <div class="flex-colum">
                        <div class="bg-primary circle-style">
                            <!-- <img  src="../../assets/assets/img/portfolio/AbrarCom.png" alt=""> -->
                            <i class="fas fa-chalkboard-teacher icon-size"></i>
                        </div>
                        <h2 class="my-3">Formation</h2>
                        <p>Une des priorités de notre cabinet est la formation de qualité afin de miser sur
                            l’amélioration
                            des compétences des acteurs. Cette qualité est garantie grâce à une équipe pédagogique,
                            composée de professeurs de renom et de professionnels reconnus à l’échelle internationale.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class=" background-expertise  text-white mb-0" id="expertiseAfc">
    <div class=" page-section section-expertise layer">
        <div class="container ">
            <!-- About Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading  d-inline-block text-white">Notre expertise</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
        </div>
    </div>
</section>
<app-references></app-references>