/* .background {
    background-color: rgba(36, 139, 79, .9);
    background:url('../../assets/assets/img/portfolio/bts-comptabilite-finance-1920x1080.jpg');
    background-attachment: fixed;

}; */
/* .background {
    background:url('../../assets/assets/img/portfolio/bts-comptabilite-finance-1920x1080.jpg');
    background-attachment: fixed;
    background:cover; */
/* 
} */

