<body id="page-top">

    <nav class="navbar navbar-expand-lg bg-secondary fixed-top activate.bs.scrollspy" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" routerLinkActive="active"
                (click)="toTopPage()" >Abrar One</a>
            <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded"
                type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1" routerLinkActive="active" (click)="toCompanies()"><a
                            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">A propos de Nous</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1" routerLinkActive="active" (click)="toAboutUs()"><a
                            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Nos domaines d'expertise</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1 " routerLinkActive="active" (click)="toContactUs()"><a
                            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <!-- Masthead Heading-->
            <h1 class="masthead-heading mb-0">Abrar One</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="pre-wrap masthead-subheading font-weight-light mb-0">ABRAR ONE is a group of companies that
                operates in different areas</p>
            <p class="pre-wrap masthead-subheading font-weight-light mb-0">Finance - Digital Marketing - Telecom</p>
        </div>
    </header>
</body>
