
    <nav class="navbar navbar-expand-lg nav-bg-secondary navbar-transparant fixed-top activate.bs.scrollspy" id="mainNav">
        <div id="top-page" class="container"><a class="navbar-brand js-scroll-trigger" routerLinkActive="active"
                (click)="toTopPage()" ><img src="../../assets/assets/img/portfolio/ABC_LOGO.png" alt="AbrarCom"></a>
            <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded"
                type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mat-item-typography ml-auto">
                    <li class="nav-item mx-0  mx-lg-1" routerLinkActive="active" (click)="toCompanies()"><a
                            class="nav-link nav-item-style py-3 px-0 px-lg-3js-scroll-trigger">A propos de Nous</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1" routerLinkActive="active" (click)="toAboutUs()"><a
                            class="nav-link nav-item-style py-3 px-0 px-lg-3  js-scroll-trigger">Nos domaines d'expertise</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1 " routerLinkActive="active" (click)="toContactUs()"><a
                            class="nav-link nav-item-style py-3 px-0 px-lg-3  js-scroll-trigger">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>  

