.navbar-transparant{
    background-color: transparent!important;
   /* -webkit-transition: all 0.6s ease-out!important; */
   

}
.nav-bg-secondary{
    background-color:#2c3e50;
    -webkit-transition:all 0.6s ease-out!important;

}
img{
background-color:#fff;
height: 60px;
width: 110px;
border-radius:5px;
}
.mat-item-typography{
    font: 400 19px/20px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
}
