.img-size {
    max-width: 170px;
    max-height: 101px;
}

.bg-AbrarCover {
    /* background:url(../../assets/assets/img/portfolio/AbrarCover.jpg); */
padding: initial;
    background-size: cover;
    height: 45rem;
    width: 100%;
    
}

.header-bg-color {
    background-color:rgba(33, 126, 79, 0.4);
   position: relative;
   top: 49px;
   right: 300px;
   width: 1590px;
   height: 71rem!important;
  
}

.carousel-item-postion {
    position: relative;
    bottom: 300px;
    z-index: 10;
   
}
.carousel-item-postion h2 {
    font-size: 3rem;

}

.caroussel-style {
    z-index: 1;
}