.img-size {
    max-width: 170px;
    max-height: 101px;
}

.bg-AbrarCover {
    background:url(../../assets/assets/img/portfolio/AbrarCover.jpg);
    padding: 0%;
    background-size: cover;
}
.header-bg-color {
    background-color:rgba(33, 126, 79, 0.2);
    padding:17%
}