<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <!-- Masthead Heading-->
        <h1 class="masthead-heading mb-0">Abrar One</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="pre-wrap masthead-subheading mb-3">
            Abrar One is a group of companies operating on the local and international market through different
            activities.
        </p>
        <p class="pre-wrap masthead-subheading mb-0">Finance - Digital Marketing - Telecom</p>
    </div>
</header>
<section class="page-section portfolio" id="companies">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block">COMPANIES</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Items-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal0">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i
                                class="fas fa-plus fa-3x"></i></div>
                    </div><img class="img-thumbnail h-100 w-100" src="assets/assets/img/portfolio/AFC.png" alt="AFC" />
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i
                                class="fas fa-plus fa-3x"></i></div>
                    </div><img class="img-thumbnail h-100 w-100" src="assets/assets/img/portfolio/AbrarCom.png"
                        alt="AbrarCom" />
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i
                                class="fas fa-plus fa-3x"></i></div>
                    </div><img class="img-thumbnail h-100 w-100" src="assets/assets/img/portfolio/ABC_LOGO.png"
                        alt="ABC" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Modal-->
<div class="portfolio-modal modal fade" id="portfolioModal0" tabindex="-1" role="dialog"
    aria-labelledby="#portfolioModal0Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i
                        class="fas fa-times"></i></span></button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">

                            <h2 class="portfolio-modal-title text-secondary mb-0">Abrar Finance Consulting</h2>

                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image--><img class="img-fluid img-size rounded mb-5"
                                src="assets/assets/img/portfolio/AFC.png" alt="Circus Tent" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-2"><b>ABRAR FINANCE CONSULTING </b>est un cabinet de conseil et accompagnement
                                dans la création et le développement des entreprises locales ou étrangères.
                            </p>
                            <p class="mb-5">Notre activité : notre cabinet a pour vocation principale d’accompagner les
                                dirigeants des entreprises dans la réalisation des études stratégiques et des plans
                                d’affaires, dans l’analyse financière et dans la recherche de financement et la levée de
                                fonds, et offre également des programmes de formation dans les différents domaines de la
                                finance.
                            </p>
                            <button class="btn btn-primary" [routerLink]="('/afc')" data-dismiss="modal">
                                <i class="fas fa-plus fa-fw"></i>En savoir plus
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog"
    aria-labelledby="#portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i
                        class="fas fa-times"></i></span></button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h2 class="portfolio-modal-title text-secondary mb-0">AbrarCom</h2>
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <img class="img-fluid img-size rounded mb-5" src="assets/assets/img/portfolio/AbrarCom.png"
                                alt="AbrarCom" />

                            <p class="mb-5">AbrarCom est une agence de webmarketing et de communication. Nous proposons
                                une large gamme
                                de services en développement, en communication et en stratégie marketing pour mieux
                                satisfaire vos besoins
                                et vous aider à atteindre vos objectifs.
                            </p>
                            <a class="btn btn-primary" href="http://abrarcom.com/">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog"
    aria-labelledby="#portfolioModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i
                        class="fas fa-times"></i></span></button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary mb-0">Abrar Business Consulting</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image--><img class="img-fluid img-size rounded mb-5"
                                src="assets/assets/img/portfolio/ABC_LOGO.png" alt="Circus Tent" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-2"><b>ABRAR BUSINESS CONSULTING </b>est une société de conseil et
                                d'accompagnement en management et en développement stratégique.
                            </p>
                            <p class="mb-5">Notre activité : notre cabinet a pour vocation principale d’accompagner les
                                entreprises étrangères à s'implanter en Tunisie et en Afrique du Nord(outsourcing, étude
                                de marché, mise en relation avec les clients... etc) .
                            </p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">En savoir plus</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-about-us></app-about-us>
<app-contact-us></app-contact-us>