/* You can add global styles to this file, and also import other style files */

.rounded{
    cursor: pointer;
    
    }
    .rounded:hover {
    background-color:#1abc9c;
    border-radius: 8px;
    color: #fff!important;
    
    
    }
    .map-style{
        width: -webkit-fill-available;
    }