/* You can add global styles to this file, and also import other style files */

.rounded{
    cursor: pointer;
    
    }
    .rounded:hover {
    background-color:#1abc9c;
    border-radius: 8px;
    color: #fff!important;
    
    
    }
.map-style{
        width: -webkit-fill-available;
    }
.separator-line {
        height: 2px;
        width: 75px;
        background-color:rgb(17, 156, 128);
        margin: 20px auto;
    }

   
    .flex-container{
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        justify-content: center;
      }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.element-style {

    border-radius: 8px;
    border-style: solid;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    padding: 20px;
    display:table-row;
    background-color: #ffffff;
    text-align: center;
    z-index: 1;
}
.background-grey{
    background-color:#fff
}
.background-white{
    background-color:#fff
}
.box{
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);               
    border-radius: 5px;
    padding: 20px;
}
.layer {
    background-color: rgba(17, 156, 128, 0.5);
    /* position: relative;
    top: 0px;
    bottom:0px;
    left: 0px;
    right: 0px; */
}
